$font-sm: 300;
$font-md: 500;
$font-lg: 900;

$margin-md: 15px;
$padding-lg:120px;

$primary-color: #fa983a;
$secondary-color: #fad390;
$blackColor: #262626;
$litebg : #f6f6f6;

body {
    font-weight: $font-sm;
}
p{
    font-weight: $font-sm;
    margin-bottom: $margin-md;
}
h1,h2,h3,h4,h5,h6{
    font-weight: $font-md;
    margin-bottom: $margin-md;
}
.title {
    font-size:100px;
    font-weight: $font-lg;
}
.title-md{
    font-size: 60px;
    font-weight: $font-lg;
}
.title-sm{
    font-size: 35px;
}
.btn-hero{
    color:#fff;
    background-color: $primary-color;
    padding: 16px 40px;
    border-radius: 30px;
    text-transform: capitalize;
    letter-spacing: 1px;
    &:hover {
        background-color: $secondary-color;
        color: $blackColor;
    }
}